.commentsSection{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.commentsSection h1{
  font-size:20px;
  font-weight: bold;
  text-align: left;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .comments li {
    text-align: left;
    padding: 0.5rem 0;
    border-bottom: 2px solid #F1F1F6;
  }
  
  .comments p {
    margin: 0;
  }
  
  .comments li div {
    text-align: right;
    font-style: italic;
  }
  
  .comments address {
    display: inline;
  }