.comments {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
  }
  
  .comments button {
    font: inherit;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: #E43F5A;
    color: #F1F1F6;
    border: 1px solid #E43F5A;
    cursor: pointer;

    transition: filter 0.2s;
  }
  
  .comments button:hover,
  .comments button:active {
    filter:brightness(1.1)
  }