.item {
    box-shadow: 1px 1px 1px #232931, 1px 1px 1px 1px #232931;
    border-radius: 8px;
    overflow: hidden;
    background-color: #086972;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  .item:hover{
    transform: translateX(10px);
  }
  .item img {
    width: 100%;
    object-fit: cover;
    height: 10rem;
  }
  .item h2{
    color:#F1F1F6;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .content {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }
  
  .content h2 {
    margin: 0.5rem 0;
  }
  
  .date,
  .address {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .date svg,
  .address svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #F1F1F6;
  }
  
  .content time {
    color: #F1F1F6;
    font-weight: 300;
  }
  
  .content address {
    margin: 0.5rem 0;
    color: #F1F1F6;
    white-space: pre;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .actions a {
    display: block;
  }
  
  .actions a span {
    vertical-align: middle;
  }
  
  
  @media (min-width: 768px) {
    .item {
      flex-direction: row;
    }
  
    .item img {
      width: 40%;
      height: 14rem;
    }
  
    .content {
      width: 60%;
      padding: 0;
      text-align: left;
    }
  
    .content h2 {
      margin: 1rem 0;
    }
  
    .actions {
      flex-direction: row;
      justify-content: flex-end;
    }
  }