.btn {
    cursor: pointer;
    font: inherit;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    border-radius: 6px;
    padding: 0.5rem 1.5rem; 
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

    display:flex;
    justify-content:center;
    align-items: center;
  }
  
  .btntext{
    text-decoration: none;
    color: #dafff7;
  }
  .btn:hover,
  .btn:active {
    background-color: #02afa1;
    border-color: #02afa1;
  }

  .icon {
    margin-left: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #dafff7;
  }
  
  .icon svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  