@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:#F1F1F6;
  background-color:#596E79;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font: 400 1rem "Roboto", sans-serif;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.center{
  margin: auto;
  text-align:center;
}